/**
 * Instance by DrewIt
 * dom.css
 */

@font-face {
    font-family: 'OpenFont';
    src: url(Openfont.ttf);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100dvh;
    font-family: 'OpenFont';
    color: #000000c2;
}
body .da-container {
    padding: 0 5em;
    position: relative;
}
body .va-container {
    padding: 3em 0;
}
body #main-header {
    font-size: 40px;
    max-width: 20em;
    padding-top: 4em;
    text-align: center;
    justify-self: center;
}
body #sub-header {
    font-size: 15px;
    justify-self: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
body .se-container {
    margin-top: 50px;
    transition: all .4s ease-in-out;
}
.se-container h4.header {
    font-size: 2em;
    font-weight: 300;
    justify-self: center;
    position: relative;
    padding-bottom: 30px;
}
.se-container h4.header:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    border-radius: 8px;
    background-color: #00000057;
    top: 50px;
    justify-self: anchor-center;
}
.centered {
    justify-self: center;
    text-align: center;
}
.h-dvh {
    height: 100dvh;
}
.max-w\[31\] {
    max-width: 31em;
}
.w-fit {
    width: fit-content;
}
.pt\[20px\] {
    padding-top: 20px;
}
.pt\[30px\] {
    padding-top: 30px;
}
.rd-container {
    padding: 20px 10px;
}
.items-center {
    display: flex;
    align-items: center;
}
.d-flex {
    display: flex;
    gap: 30px;
}
.d-none {
    display: none;
}
.d-button {
    appearance: none;
    color: #fff;
    background: #000000c2;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: all .3s ease-in-out;
    transition-delay: .7s;
    opacity: 0;
}
.d-button:hover {
    padding: 8px 27px;
}
.se-container:hover .d-button {
    opacity: 1;
    transition-delay: 0s;
}
.rd-container .con1 {
    width: 50%;
}
.lg-container {
    height: 100%;
    transition: all .6s ease-in-out;
}
.lg-container[data-state="close"] {
    opacity: 0;
}
.se-container[data-state="open"] {
    flex: 1;
}
.se-container[data-state="close"][right] {
    opacity: 0;
    transform: translateX(30px);
}
.se-container[data-state="close"][left] {
    opacity: 0;
    transform: translateX(-30px);
}
@media (min-width: 1150px) {
    .rd-container {
        padding: 20px 150px;
    }
}
.x-navigator.labelledByDots>#dots-label-content {
    display: flex;
    gap: 9px;
}
.x-navigator.labelledByDots .dot {
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 20px;
    background: #00000047;
    cursor: pointer;
}
.x-navigator.labelledByDots .dot.focus {
    transform: scale(1.5);
    background: #000000a1;
}